CSE 27 Nutritional analysis dashboard.json
[{"id":"429c7775.57f428","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"26032021.0f50c","type":"ui_template","z":"429c7775.57f428","group":"6ad0bad3.d26614","name":"","order":1,"width":"9","height":"8","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n     \n    background-color: #A42156!important;\n\t}\n\tdashboard-template h4 {\n    color: #111111 !important;\n    background-color: #A42156 !important;\n    }\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #A42156;\n\t\tborder-color: #A42156;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #EB9E30;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Food Nutrition Dashboard </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":60,"y":140,"wires":[["446e817b.ddc3a"]]},{"id":"6f56e418.23ab1c","type":"visual-recognition-v3","z":"429c7775.57f428","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/bd1f4a3a-89e0-434d-bf28-14f693a70a03","image-feature":"classifyImage","lang":"en","x":290,"y":140,"wires":[["e3f67555.633528","69ba3395.41507c"]]},{"id":"e3f67555.633528","type":"function","z":"429c7775.57f428","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    //say = say + \" Watson thinks this picture contains \" + item +\".\";\n    say =  say+\" Watson thinks this picture contains \" + msg.result.images[0].classifiers[0].classes[0].class +\".\";\n}\nmsg.payload =  say;\n// msg.food = msg.result.images[0].classifiers[0];\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["b3a39736.e09678","a4eb922d.925dd","2b6c8c13.65c964"]]},{"id":"a4eb922d.925dd","type":"ui_template","z":"429c7775.57f428","group":"f9d986a3.ab7478","name":"Results Table","order":1,"width":"12","height":"7","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":740,"y":160,"wires":[[]]},{"id":"b3a39736.e09678","type":"debug","z":"429c7775.57f428","name":"What did Watson find?","active":true,"console":"false","complete":"payload","x":740,"y":60,"wires":[]},{"id":"2b6c8c13.65c964","type":"change","z":"429c7775.57f428","name":"Food classification","rules":[{"t":"set","p":"food","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":200,"wires":[["c2191b73.732f28"]]},{"id":"c2191b73.732f28","type":"switch","z":"429c7775.57f428","name":"Food?","property":"food","propertyType":"msg","rules":[{"t":"eq","v":"non-food","vt":"str"},{"t":"neq","v":"non-food","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":260,"wires":[["bf1f04ad.16af78"],["98b9294b.1f8ad8","5034c7f8.9e1828","fba46a07.ffd308"]]},{"id":"bf1f04ad.16af78","type":"function","z":"429c7775.57f428","name":"Not a Food - Empty Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 100%;}\";\n\nmsg.template=msg.template+\"</style><h1>Not Valid <br> <b>Please choose a valid Picture</b></h1>\";\nmsg.template = msg.template;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":260,"wires":[["5067de78.dd212","59bc5e4a.1b421"]]},{"id":"59bc5e4a.1b421","type":"ui_template","z":"429c7775.57f428","group":"e8797d3a.fba92","name":"Nutrients Table","order":2,"width":"12","height":"15","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1040,"y":260,"wires":[[]]},{"id":"e2780e3a.6082d","type":"ui_audio","z":"429c7775.57f428","name":"","group":"f9d986a3.ab7478","voice":"Microsoft David Desktop - English (United States)","always":true,"x":740,"y":320,"wires":[]},{"id":"98b9294b.1f8ad8","type":"function","z":"429c7775.57f428","name":"USDA API url","func":"msg.url = \"https://api.nal.usda.gov/fdc/v1/foods/search?api_key=g3zUUiIAk6n3q6dsdl80NOrjpZmsUEfX3U9ud9p9&query=\" + msg.food\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":460,"wires":[["d40fdde5.c86ac"]]},{"id":"d40fdde5.c86ac","type":"http request","z":"429c7775.57f428","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":440,"wires":[["70908678.dc18e8","f1db9328.87816"]]},{"id":"70908678.dc18e8","type":"debug","z":"429c7775.57f428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"fba46a07.ffd308","type":"debug","z":"429c7775.57f428","name":"What type of food?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"food","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":380,"wires":[]},{"id":"5067de78.dd212","type":"watson-text-to-speech","z":"429c7775.57f428","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"6uiMQdGXnZInHdWhJ7rZXu9hRDLkdTqeWDH-nnSY1SuD","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/8c1f25b3-6be1-40ad-b75c-31054c5da52e","x":520,"y":300,"wires":[["e2780e3a.6082d"]]},{"id":"5034c7f8.9e1828","type":"change","z":"429c7775.57f428","name":"Announce food","rules":[{"t":"set","p":"payload","pt":"msg","to":"food","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["5067de78.dd212"]]},{"id":"f1db9328.87816","type":"function","z":"429c7775.57f428","name":"Build Nutrition Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 6px; text-align: left; border-bottom: 1px solid #ddd; width: 100%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>Ingredients:</h2>\"+\"<p>\"+msg.payload.foods[0].food+\"</p><table span=100%><tr><th>Nutritional Information</th><th>Value</th></tr>\";\nvar arrayLength = msg.payload.foods[0].foodNutrients.length;\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + msg.payload.foods[0].foodNutrients[i].nutrientName + \"</td><td>\" + msg.payload.foods[0].foodNutrients[i].value+ msg.payload.foods[0].foodNutrients[i].unitName + \"</td></tr>\";\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==269) msg.sugar = msg.payload.foods[0].food.nutrients[i].value;\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==204) msg.fat = msg.payload.foods[0].food.nutrients[i].value;\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":500,"wires":[["59bc5e4a.1b421"]]},{"id":"446e817b.ddc3a","type":"function","z":"429c7775.57f428","name":"Classifier ID","func":"msg.params = {\"classifier_ids\":\"food\"}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":60,"wires":[["6f56e418.23ab1c"]]},{"id":"69ba3395.41507c","type":"debug","z":"429c7775.57f428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":80,"wires":[]},{"id":"6ad0bad3.d26614","type":"ui_group","name":"Food Image","tab":"e6c27b35.da0ac8","order":2,"disp":true,"width":"10","collapse":false},{"id":"f9d986a3.ab7478","type":"ui_group","name":"Results","tab":"e6c27b35.da0ac8","order":3,"disp":true,"width":"12","collapse":false},{"id":"e8797d3a.fba92","type":"ui_group","name":"Nutrition content","tab":"e6c27b35.da0ac8","order":4,"disp":true,"width":"12","collapse":false},{"id":"e6c27b35.da0ac8","type":"ui_tab","name":"Nutritional Analysis","icon":"dashboard","disabled":false,"hidden":false}]